extends layout

block content
    .span10
        .page-title
            .opts.pull-right
                a(href="/admin/article-add")
                    i.icon-plus
                    | 添加文章
            h3=title
        table.table.table-bordered.table-striped
            tr
                th(width="230") id
                th 分类
                th 名称
                th(width="230") 内容
                th 时间
                th(width="68") 操作
            each item in Articles
                tr
                    td #{item._id}
                    td #{item.cat_id}
                    td
                        a(href="#",target="_blacnk",title="#{item.title}") #{item.title}
                    td !{item.content}
                    td #{item.friendly_date}
                    td.operate
                        a.btn.btn-mini(href="/admin/article-edit/#{item._id}")
                            i.icon-edit
                        a.btn.btn-danger.btn-mini(href="/admin/article-destroy/#{item._id}")
                            i.icon-remove.icon-white
        include pagination