doctype 5
html
    head
        meta(charset="utf-8")
        title #{config.name}
        meta(name="description",content="#{config.description}")
        meta(name="keywords",content="#{config.keywords}")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/admin.css')
        script(src="/js/jquery.js", type="text/javascript")
        script(src="/js/bootstrap.min.js", type="text/javascript")
        script(src="/js/common.js", type="text/javascript")
    body
        .login-page
            .login-wrapper
                .login-box
                    h3=title
                    form(action="/admin/register",method="post",accept-charset="utf-8")
                        input.span4(type="text",name="name",placeholder="用户名")
                        input.span4(type="password",name="password",placeholder="密码")
                        input.span4(type="password",name="password_repeat",placeholder="确认密码")
                        input.span4(type="text",name="email",placeholder="邮箱")
                        input.btn.btn-block.btn-primary.btn-large(type="submit",value="注册")
                    p #{info}